/* Columns */
/* Product Description */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}
.left-column {
  width: 65%;
  position: relative;
  img {
    width: 85%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }
  img.active {
    opacity: 1;
  }
}
.right-column {
  width: 35%;
  margin-top: 60px;
}
.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
  span {
    font-size: 12px;
    color: #358ed7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484d;
    letter-spacing: -2px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
    line-height: 24px;
  }
}
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
  .left-column {
    width: 100%;
    img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
  .right-column {
    width: 100%;
    margin-top: 150px;
  }
}
@media (max-width: 535px) {
  .left-column {
    img {
      width: 220px;
      top: -66px;
    }
  }
  .right-column {
    margin-top: 60px;
  }
}
