.search {
  text-align: center;
}
.myInput {
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 1px;
}
.myUL {
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  max-height: 300px;
  overflow: auto;
  li {
    a {
      border: 1px solid #ddd;
      margin-top: -1px;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      color: black;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        &:not(.head_list) {
          background-color: #eee;
        }
      }
    }
  }
  .head_list {
    background: #dddddd4a;
    cursor: auto;
  }
  .hotel_name {
    font-weight: 500;
  }
  .hotel_address {
    font-weight: 100;
    color: grey;
    font-size: 16px;
  }
}
.layout_header {
  background: #383d5ce0;
  padding: 10px;
  margin-bottom: 30px;
  color: #fff;
  cursor: pointer;
}
